
@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>

<div>
    @Html.ActionLink("Add Patient Details", "Index", "Patient")
</div>
<hr />
<div>
    @Html.ActionLink("List Patient Details", "Index", "PatientDetails")
</div>

